@font-face{
    font-family: SegoeFluentIcons;
    src: url("assets/Segoe\ Fluent\ Icons.ttf");
}

span.icon{
    font-family: SegoeFluentIcons;
    font-size: 13px;
    font-weight: 600;
    margin-right: 5px;
}