* {
    padding: 0px;
    margin: 0px;
    font-family: "Segoe UI Variable Text";
}
body{
    background: #1E1E1E;
}
.box-shadow{
    box-shadow: 0px 0px 55px rgb(0 0 0 / 75%), 0px 0px 15px rgb(0 0 0 / 45%);
}
.button-shadow{
    box-shadow: 0px 5px 12.5px rgb(0 0 0 / 25%), 0px 0px 5px rgb(0 0 0 / 10%);
}
header.header{
    background-color: transparent;
}
div.header-title{
    text-align: left;
}
span.header-title{
    font-weight: bold;
    color: white;
    font-size: 20px;
    margin-left: 20px;
}
span.header-sub-title{
    font-weight: bold;
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    margin-left: 15px;
}
a.header-sub-title{
    width: 60px;
    height: 10;
    color: rgba(255, 255, 255, 0.7);
}
a.header-sub-title:hover{
    background-color: rgba(255, 255, 255, 0.075);
}
a.header-sub-title:active{
    background-color: rgba(255, 255, 255, 0.05);
    color: rgba(255, 255, 255, 0.85);
}
img.app-icon{
    height: 36px;
    width: 36px;
    margin-left: 30px;
    border-radius: 5px;
    vertical-align: middle;
    margin-top: 6px;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 50%),
                 0px 0px 15px rgb(0 0 0 / 15%);
}
section.section-one{
    background-size:cover;
    background-image: url(assets/head-image.png);
    min-height: 900px;
}
nav.nav{
    float: right;
    margin-top: -45px;
    margin-right: 25px;
}
div.main-textarea{
    margin-top: 200px;
    text-align: right;
    padding: 65px;
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(80px);
    border-color: #e1e6ea;
    margin-left: 45%;
    margin-right: 5%;
    border-radius: 8px;
}
span.main-title{
    color: white;
    font-size: 64px;
    font-weight: bolder;
}
span.main-subtitle{
    color: rgba(255, 255, 255, 0.7);
    font-size: 18px;
    font-weight: bolder;
}
a.base-button{
    align-items: center;
    border-radius: 4px;
    user-select: none;
    padding-block: 4px 6px;
    padding-inline: 11px;
    line-height: 20px;
    justify-content: center;
    cursor: default;
    display: inline-flex;
    text-decoration: none;
    position: relative;
    margin: 0px 4.5px;
}
a.plain-button{
    border: 1px solid hsla(0, 0%, 100%, 8%);
    border-bottom-color:hsla(0, 0%, 0%, 40%);
}
a.transplant-button{
    background-color: transparent;
    font-size: 14px;
    color: white;
    font-weight: 400;
}
a.transplant-button:hover{
    background-color: rgba(255, 255, 255, 0.075);
}
a.transplant-button:active{
    background-color: rgba(255, 255, 255, 0.05);
    color: rgba(255, 255, 255, 0.85);
}
a.accent-button{
    background-color: #F38064;
    color: white;
    font-weight: 400;
}
a.accent-button:hover{
    background-color: #e97a61;
}
a.accent-button:active{
    background-color: #dd715c;
    color: rgba(255, 255, 255, 0.85);
}
footer.footer{
    padding: 25px;
}
span.copyright{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}